/* screen - dashboard */

.border-1px-black {
  border: 1px solid var(--black);
}
.dashboard {
  background-color: transparent;
  background-image: url(../img/dashboard@1x.svg);
  background-size: 100% 100%;
  height: 100vh;
  margin: 0px;
  min-height: 850px;
  min-width: 375px;
  overflow-x: hidden;
  position: relative;
  width: 100%;
}
.dashboard .active-FY3HhL {
  background-color: transparent;
  color: rgba(29,208,161,1.0);
  font-family: 'Roboto', Helvetica;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 84px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 33px;
  width: 32px;
}
.dashboard .arrow-right-0sJeve {
  background-color: transparent;
  height: 12px;
  left: 314px;
  position: absolute;
  top: 25px;
  width: 11px;
}
.dashboard .arrow-right-61Z7WH {
  background-color: transparent;
  height: 12px;
  left: 313px;
  position: absolute;
  top: 25px;
  width: 11px;
}
.dashboard .arrow-right-C61RwL {
  background-color: transparent;
  height: 10px;
  left: 87px;
  position: absolute;
  top: 726px;
  width: 12px;
}
.dashboard .arrow-right-FY3HhL {
  background-color: transparent;
  height: 12px;
  left: 313px;
  position: absolute;
  top: 23px;
  width: 11px;
}
.dashboard .arrow-right-WzCX2w {
  background-color: transparent;
  height: 12px;
  left: 314px;
  position: absolute;
  top: 25px;
  width: 11px;
}
.dashboard .arrow-right-dlCEa5 {
  background-color: transparent;
  height: 12px;
  left: 314px;
  position: absolute;
  top: 25px;
  width: 11px;
}
.dashboard .arrow-right-gUEd1c {
  background-color: transparent;
  height: 12px;
  left: 311px;
  position: absolute;
  top: 25px;
  width: 11px;
}
.dashboard .bars-status-bar-hone-time-light-klngK9 {
  background-color: transparent;
  height: 21px;
  left: 21px;
  position: absolute;
  top: 7px;
  width: 56px;
}
.dashboard .bars-status-bar-i-phone-light-C61RwL {
  background-color: transparent;
  height: 44px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 375px;
}
.dashboard .border-klngK9 {
  background-color: transparent;
  border: 1px solid var(--white);
  border-radius: 2.6666667461395264px;
  height: 11px;
  left: 336px;
  opacity: 0.35;
  position: absolute;
  top: 17px;
  width: 22px;
}
.dashboard .briefcase-C61RwL {
  background-color: transparent;
  height: 14px;
  left: 48px;
  position: absolute;
  top: 118px;
  width: 13px;
}
.dashboard .briefcase-VMr6Om {
  background-color: transparent;
  background-image: url(../img/vector-37@2x.svg);
  background-size: 100% 100%;
  height: 7px;
  left: 270px;
  position: absolute;
  top: 136px;
  width: 8px;
}
.dashboard .cap-klngK9 {
  background-color: transparent;
  height: 4px;
  left: 359px;
  position: absolute;
  top: 21px;
  width: 2px;
}
.dashboard .capacity-klngK9 {
  background-color: var(--white);
  border-radius: 1.3333333730697632px;
  height: 7px;
  left: 338px;
  position: absolute;
  top: 19px;
  width: 18px;
}
.dashboard .cellular-connection-klngK9 {
  background-color: transparent;
  height: 12px;
  left: 294px;
  position: absolute;
  top: 17px;
  width: 17px;
}
.dashboard .claim-1-61Z7WH {
  background-color: var(--white);
  height: 23px;
  left: 18px;
  overflow: hidden;
  position: absolute;
  top: 19px;
  width: 23px;
}
.dashboard .container-C61RwL {
  background-color: transparent;
  height: 57px;
  left: 96px;
  position: absolute;
  top: 772px;
  width: 94px;
}
.dashboard .container-VMr6Om {
  background-color: transparent;
  height: 57px;
  left: 190px;
  position: absolute;
  top: 772px;
  width: 94px;
}
.dashboard .ellipse-354-C61RwL {
  background-color: transparent;
  height: 4px;
  left: 134px;
  position: absolute;
  top: 147px;
  width: 4px;
}
.dashboard .ellipse-43-fgQfqY {
  background-color: transparent;
  height: 18px;
  left: 1px;
  position: absolute;
  top: 1px;
  width: 18px;
}
.dashboard .ellipse-44-C61RwL {
  background-color: transparent;
  height: 12px;
  left: 150px;
  position: absolute;
  top: 803px;
  width: 13px;
}
.dashboard .explore-C61RwL {
  background-color: transparent;
  color: var(--cadet-blue);
  font-family: 'Roboto', Helvetica;
  font-size: 9px;
  font-style: normal;
  font-weight: 500;
  height: auto;
  left: 308px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 814px;
  width: auto;
}
.dashboard .fill-1-FY3HhL {
  background-color: transparent;
  height: 12px;
  left: 29px;
  position: absolute;
  top: 27px;
  width: 13px;
}
.dashboard .fill-11-FY3HhL {
  background-color: transparent;
  height: 7px;
  left: 41px;
  position: absolute;
  top: 37px;
  width: 7px;
}
.dashboard .fill-17-FY3HhL {
  background-color: transparent;
  height: 3px;
  left: 35px;
  position: absolute;
  top: 22px;
  width: 3px;
}
.dashboard .fill-19-FY3HhL {
  background-color: transparent;
  height: 7px;
  left: 18px;
  position: absolute;
  top: 34px;
  width: 7px;
}
.dashboard .fill-20-FY3HhL {
  background-color: transparent;
  height: 3px;
  left: 24px;
  position: absolute;
  top: 42px;
  width: 3px;
}
.dashboard .fill-3-FY3HhL {
  background-color: transparent;
  height: 12px;
  left: 18px;
  position: absolute;
  top: 20px;
  width: 13px;
}
.dashboard .frame-1-C61RwL {
  background-color: transparent;
  background-image: url(../img/bg-2@2x.svg);
  background-size: 100% 100%;
  height: 59px;
  left: 17px;
  position: absolute;
  top: 352px;
  width: 342px;
}
.dashboard .frame-2-C61RwL {
  background-color: transparent;
  background-image: url(../img/bg-6@2x.svg);
  background-size: 100% 100%;
  height: 59px;
  left: 19px;
  position: absolute;
  top: 479px;
  width: 339px;
}
.dashboard .frame-3-C61RwL {
  background-color: transparent;
  background-image: url(../img/bg-2@2x.svg);
  background-size: 100% 100%;
  height: 59px;
  left: 17px;
  position: absolute;
  top: 543px;
  width: 342px;
}
.dashboard .frame-4-C61RwL {
  background-color: transparent;
  background-image: url(../img/bg-7@2x.svg);
  background-size: 100% 100%;
  height: 59px;
  left: 18px;
  position: absolute;
  top: 416px;
  width: 341px;
}
.dashboard .frame-6-C61RwL {
  background-color: transparent;
  background-image: url(../img/bg-2@2x.svg);
  background-size: 100% 100%;
  height: 59px;
  left: 17px;
  position: absolute;
  top: 289px;
  width: 342px;
}
.dashboard .frame-7-C61RwL {
  background-color: transparent;
  background-image: url(../img/bg-2@2x.svg);
  background-size: 100% 100%;
  height: 59px;
  left: 17px;
  position: absolute;
  top: 224px;
  width: 342px;
}
.dashboard .home-C61RwL {
  background-color: transparent;
  color: rgba(41,95,182,1.0);
  font-family: 'Roboto', Helvetica;
  font-size: 9px;
  font-style: normal;
  font-weight: 900;
  height: auto;
  left: 41px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 815px;
  width: auto;
}
.dashboard .home-VMr6Om {
  background-color: transparent;
  height: 24px;
  left: 41px;
  position: absolute;
  top: 787px;
  width: 24px;
}
.dashboard .how-can-we-help-C61RwL {
  background-color: transparent;
  color: rgba(23,29,51,1.0);
  font-family: 'Sarabun', Helvetica;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  height: auto;
  left: 19px;
  letter-spacing: 0.50px;
  line-height: 42px;
  opacity: 0.6;
  position: absolute;
  text-align: left;
  top: 197px;
  white-space: nowrap;
  width: 121px;
}
.dashboard .i-want-to-buy-cover-0sJeve {
  background-color: transparent;
  height: auto;
  left: 70px;
  letter-spacing: 0.00px;
  line-height: normal;
  opacity: 0.9;
  position: absolute;
  text-align: center;
  top: 26px;
  width: auto;
}
.dashboard .i-want-to-make-a-request-WzCX2w {
  background-color: transparent;
  height: auto;
  left: 70px;
  letter-spacing: 0.00px;
  line-height: normal;
  opacity: 0.9;
  position: absolute;
  text-align: center;
  top: 26px;
  width: auto;
}
.dashboard .i-want-to-make-payments-dlCEa5 {
  background-color: transparent;
  height: auto;
  left: 70px;
  letter-spacing: 0.00px;
  line-height: normal;
  opacity: 0.9;
  position: absolute;
  text-align: center;
  top: 26px;
  width: auto;
}
.dashboard .i-want-to-report-a-claim-61Z7WH {
  background-color: transparent;
  height: auto;
  left: 69px;
  letter-spacing: 0.00px;
  line-height: normal;
  opacity: 0.9;
  position: absolute;
  text-align: center;
  top: 24px;
  width: auto;
}
.dashboard .icon-menu-C61RwL {
  background-color: transparent;
  height: 24px;
  left: 24px;
  position: absolute;
  top: 60px;
  width: 24px;
}
.dashboard .iconly-light-send-C61RwL {
  background-color: transparent;
  height: 24px;
  left: 221px;
  position: absolute;
  top: 785px;
  width: 24px;
}
.dashboard .insurance-1-0sJeve {
  background-color: var(--white);
  height: 28px;
  left: 18px;
  overflow: hidden;
  position: absolute;
  top: 17px;
  width: 26px;
}
.dashboard .line-210-C61RwL {
  background-color: transparent;
  height: 1px;
  left: 3px;
  position: absolute;
  top: 772px;
  width: 367px;
}
.dashboard .mlife-C61RwL {
  background-color: transparent;
  color: var(--white);
  font-family: 'Roboto', Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  height: auto;
  left: 168px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 65px;
  width: 41px;
}
.dashboard .my-business-C61RwL {
  background-color: transparent;
  color: rgba(123,135,148,1.0);
  font-family: 'Roboto', Helvetica;
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  height: 10px;
  left: 218px;
  letter-spacing: 0.00px;
  line-height: normal;
  opacity: 0.8;
  position: absolute;
  text-align: center;
  top: 149px;
  width: 127px;
}
.dashboard .my-resources-and-downloads-gUEd1c {
  background-color: transparent;
  height: auto;
  left: 68px;
  letter-spacing: 0.00px;
  line-height: normal;
  opacity: 0.9;
  position: absolute;
  text-align: center;
  top: 26px;
  width: auto;
}
.dashboard .overview-C61RwL {
  background-color: transparent;
  color: var(--endeavour);
  font-family: 'Roboto', Helvetica;
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  height: 10px;
  left: 36px;
  letter-spacing: 0.00px;
  line-height: normal;
  opacity: 0.8;
  position: absolute;
  text-align: center;
  top: 149px;
  width: 127px;
}
.dashboard .polygon-30-C61RwL {
  background-color: transparent;
  height: 18px;
  left: 88px;
  position: absolute;
  top: 130px;
  width: 21px;
}
.dashboard .polygon-32-C61RwL {
  background-color: transparent;
  height: 18px;
  left: 264px;
  position: absolute;
  top: 130px;
  width: 20px;
}
.dashboard .products-C61RwL {
  background-color: transparent;
  color: var(--cadet-blue);
  font-family: 'Roboto', Helvetica;
  font-size: 9px;
  font-style: normal;
  font-weight: 500;
  height: auto;
  left: 130px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 815px;
  width: auto;
}
.dashboard .rectangle-12447-C61RwL {
  background-color: rgba(35,131,196,1.0);
  border-radius: 12px;
  height: 54px;
  left: 21px;
  opacity: 0.1;
  position: absolute;
  top: 779px;
  width: 66px;
}
.dashboard .rectangle-12500-C61RwL {
  background-color: rgba(22,69,129,1.0);
  height: 48px;
  left: 189px;
  position: absolute;
  top: 118px;
  width: 187px;
}
.dashboard .rectangle-12501-C61RwL {
  background-color: transparent;
  height: 48px;
  left: -1px;
  position: absolute;
  top: 118px;
  width: 190px;
}
.dashboard .rectangle-14-C61RwL {
  background-color: transparent;
  height: 107px;
  left: 14px;
  position: absolute;
  top: 641px;
  width: 346px;
}
.dashboard .rectangle-15-C61RwL {
  background-color: transparent;
  height: 4px;
  left: 200px;
  position: absolute;
  top: 754px;
  width: 5px;
}
.dashboard .rectangle-16-C61RwL {
  background-color: transparent;
  height: 4px;
  left: 189px;
  position: absolute;
  top: 754px;
  width: 5px;
}
.dashboard .rectangle-17-C61RwL {
  background-color: transparent;
  height: 4px;
  left: 166px;
  position: absolute;
  top: 754px;
  width: 17px;
}
.dashboard .rectangle-yzGlqo {
  background-color: transparent;
  height: 21px;
  left: 1px;
  position: absolute;
  top: 1px;
  width: 21px;
}
.dashboard .search-24px-C61RwL {
  background-color: transparent;
  height: 24px;
  left: 304px;
  position: absolute;
  top: 787px;
  width: 24px;
}
.dashboard .see-corona-specific-plans-C61RwL {
  background-color: transparent;
  color: rgba(62,71,86,1.0);
  font-family: 'Roboto', Helvetica;
  font-size: 11px;
  font-style: normal;
  font-weight: 500;
  height: auto;
  left: 23px;
  letter-spacing: 0.00px;
  line-height: 25.6px;
  position: absolute;
  text-align: left;
  top: 675px;
  white-space: nowrap;
  width: 146px;
}
.dashboard .send-WO8pPL {
  background-color: transparent;
  height: 20px;
  left: 2px;
  position: absolute;
  top: 4px;
  width: 20px;
}
.dashboard .service-requests-C61RwL {
  background-color: transparent;
  color: var(--cadet-blue);
  font-family: 'Roboto', Helvetica;
  font-size: 9px;
  font-style: normal;
  font-weight: 500;
  height: auto;
  left: 205px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 815px;
  width: auto;
}
.dashboard .shopping-bag-C61RwL {
  background-color: transparent;
  height: 24px;
  left: 136px;
  position: absolute;
  top: 786px;
  width: 24px;
}
.dashboard .span1-azSgG7 {
  font-family: 'Roboto', Helvetica;
  font-style: normal;
  font-weight: 700;
}
.dashboard .span1-cJxAeg {
  font-family: 'Sarabun', Helvetica;
  font-style: normal;
  font-weight: 600;
}
.dashboard .span2-azSgG7 {
  font-family: 'Roboto', Helvetica;
  font-style: normal;
  font-weight: 700;
}
.dashboard .span2-cJxAeg {
  font-family: 'Sarabun', Helvetica;
  font-style: normal;
  font-weight: 600;
}
.dashboard .span3-cJxAeg {
  font-family: 'Sarabun', Helvetica;
  font-style: normal;
  font-weight: 600;
}
.dashboard .span4-cJxAeg {
  font-family: 'Sarabun', Helvetica;
  font-style: normal;
  font-weight: 600;
}
.dashboard .starting-ke-1000-only-C61RwL {
  background-color: transparent;
  color: rgba(62,71,86,1.0);
  font-family: "Roboto", Helvetica;
  font-size: 9px;
  height: auto;
  left: 23px;
  letter-spacing: 0.00px;
  line-height: 25.6px;
  position: absolute;
  text-align: left;
  top: 694px;
  white-space: nowrap;
  width: 114px;
}
.dashboard .time-s3dIGL {
  background-color: transparent;
  color: var(--white);
  font-family: 'Roboto', Helvetica;
  font-size: 15px;
  font-style: normal;
  font-weight: 900;
  height: auto;
  left: 0px;
  letter-spacing: -0.30px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 7px;
  width: 56px;
}
.dashboard .undrawplaincr-ditcardc8b8-3-dlCEa5 {
  background-color: var(--white);
  background-image: url(../img/vector-91@2x.svg);
  background-size: 100% 100%;
  height: 24px;
  left: 19px;
  overflow: hidden;
  position: absolute;
  top: 14px;
  width: 33px;
}
.dashboard .upto-50-off-C61RwL {
  background-color: transparent;
  color: rgba(234,67,53,1.0);
  font-family: 'Roboto', Helvetica;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 23px;
  letter-spacing: 0.00px;
  line-height: 25.6px;
  position: absolute;
  text-align: left;
  top: 649px;
  white-space: nowrap;
  width: 117px;
}
.dashboard .vector-07tdfX {
  background-color: transparent;
  height: 2px;
  left: 20px;
  position: absolute;
  top: 19px;
  width: 8px;
}
.dashboard .vector-18YQQQ {
  background-color: transparent;
  height: 31px;
  left: 14px;
  position: absolute;
  top: 14px;
  width: 42px;
}
.dashboard .vector-28-fgQfqY {
  background-color: transparent;
  height: 8px;
  left: 14px;
  position: absolute;
  top: 14px;
  width: 8px;
}
.dashboard .vector-2P4qUJ {
  background-color: transparent;
  height: 105px;
  left: 193px;
  position: absolute;
  top: 642px;
  width: 165px;
}
.dashboard .vector-376C7V {
  background-color: transparent;
  height: 3px;
  left: 4px;
  position: absolute;
  top: 12px;
  width: 25px;
}
.dashboard .vector-3ENn0G {
  background-color: transparent;
  height: 3px;
  left: 17px;
  position: absolute;
  top: 32px;
  width: 2px;
}
.dashboard .vector-4exDrx {
  background-color: transparent;
  height: 17px;
  left: 13px;
  position: absolute;
  top: -0px;
  width: 7px;
}
.dashboard .vector-4vt7cH {
  background-color: transparent;
  height: 17px;
  left: -0px;
  position: absolute;
  top: 4px;
  width: 26px;
}
.dashboard .vector-5vagm7 {
  background-color: transparent;
  height: 3px;
  left: 13px;
  position: absolute;
  top: 24px;
  width: 3px;
}
.dashboard .vector-61oMk2 {
  background-color: transparent;
  height: 5px;
  left: 30px;
  position: absolute;
  top: 40px;
  width: 6px;
}
.dashboard .vector-6WXCfL {
  background-color: transparent;
  height: 6px;
  left: -0px;
  position: absolute;
  top: 5px;
  width: 33px;
}
.dashboard .vector-7NI8PS {
  background-color: transparent;
  height: 6px;
  left: 6px;
  position: absolute;
  top: 9px;
  width: 11px;
}
.dashboard .vector-7NxV0U {
  background-color: transparent;
  height: 3px;
  left: 54px;
  position: absolute;
  top: 34px;
  width: 2px;
}
.dashboard .vector-7jNwO2 {
  background-color: transparent;
  height: 5px;
  left: 17px;
  position: absolute;
  top: 23px;
  width: 5px;
}
.dashboard .vector-86bxCW {
  background-color: transparent;
  height: 1px;
  left: 14px;
  position: absolute;
  top: 44px;
  width: 3px;
}
.dashboard .vector-8mJwAY {
  background-color: transparent;
  height: 2px;
  left: 13px;
  position: absolute;
  top: 31px;
  width: 3px;
}
.dashboard .vector-8u9ELa {
  background-color: transparent;
  height: 17px;
  left: 41px;
  position: absolute;
  top: 27px;
  width: 7px;
}
.dashboard .vector-9DdANy {
  background-color: transparent;
  height: 5px;
  left: 13px;
  position: absolute;
  top: 12px;
  width: 3px;
}
.dashboard .vector-A0OsjV {
  background-color: transparent;
  height: 8px;
  left: 16px;
  position: absolute;
  top: 4px;
  width: 8px;
}
.dashboard .vector-BT17VE {
  background-color: transparent;
  height: 17px;
  left: -0px;
  position: absolute;
  top: 4px;
  width: 16px;
}
.dashboard .vector-BxrLYe {
  background-color: transparent;
  height: 2px;
  left: 44px;
  position: absolute;
  top: 27px;
  width: 2px;
}
.dashboard .vector-C61RwL {
  background-color: transparent;
  height: 5px;
  left: 97px;
  position: absolute;
  top: 138px;
  width: 3px;
}
.dashboard .vector-CDJGhA {
  background-color: transparent;
  height: 3px;
  left: 23px;
  position: absolute;
  top: 23px;
  width: 7px;
}
.dashboard .vector-Cjkj6Q {
  background-color: transparent;
  height: 3px;
  left: 12px;
  position: absolute;
  top: 31px;
  width: 2px;
}
.dashboard .vector-DLuzGt {
  background-color: transparent;
  height: 7px;
  left: 25px;
  position: absolute;
  top: 18px;
  width: 4px;
}
.dashboard .vector-F1uNlw {
  background-color: transparent;
  height: 1px;
  left: 6px;
  position: absolute;
  top: 42px;
  width: 39px;
}
.dashboard .vector-FUnIjO {
  background-color: transparent;
  height: 5px;
  left: 9px;
  position: absolute;
  top: 23px;
  width: 6px;
}
.dashboard .vector-FY3HhL {
  background-color: transparent;
  height: 11px;
  left: 71px;
  position: absolute;
  top: 34px;
  width: 10px;
}
.dashboard .vector-GOPHnf {
  background-color: transparent;
  height: 6px;
  left: 30px;
  position: absolute;
  top: 18px;
  width: 8px;
}
.dashboard .vector-GWY1CY {
  background-color: transparent;
  height: 9px;
  left: 16px;
  position: absolute;
  top: 14px;
  width: 6px;
}
.dashboard .vector-HI2gx1 {
  background-color: transparent;
  height: 11px;
  left: 22px;
  position: absolute;
  top: 15px;
  width: 13px;
}
.dashboard .vector-HLSage {
  background-color: transparent;
  height: 28px;
  left: 33px;
  position: absolute;
  top: 14px;
  width: 5px;
}
.dashboard .vector-HqQahH {
  background-color: transparent;
  height: 1px;
  left: 20px;
  position: absolute;
  top: 16px;
  width: 6px;
}
.dashboard .vector-IFvgjD {
  background-color: transparent;
  height: 5px;
  left: 4px;
  position: absolute;
  top: 16px;
  width: 5px;
}
.dashboard .vector-IN1Lxi {
  background-color: transparent;
  height: 3px;
  left: 41px;
  position: absolute;
  top: 35px;
  width: 3px;
}
.dashboard .vector-INTz8X {
  background-color: transparent;
  height: 9px;
  left: 12px;
  position: absolute;
  top: 14px;
  width: 10px;
}
.dashboard .vector-JfRxEA {
  background-color: transparent;
  height: 4px;
  left: 14px;
  position: absolute;
  top: 10px;
  width: 6px;
}
.dashboard .vector-JlEgoX {
  background-color: transparent;
  height: 3px;
  left: 47px;
  position: absolute;
  top: 23px;
  width: 4px;
}
.dashboard .vector-JxEHmO {
  background-color: transparent;
  height: 3px;
  left: 13px;
  position: absolute;
  top: 12px;
  width: 3px;
}
.dashboard .vector-K7pT1t {
  background-color: transparent;
  height: 9px;
  left: 11px;
  position: absolute;
  top: 20px;
  width: 2px;
}
.dashboard .vector-KD1jNS {
  background-color: transparent;
  height: 17px;
  left: 13px;
  position: absolute;
  top: -0px;
  width: 13px;
}
.dashboard .vector-KWS3PR {
  background-color: transparent;
  height: 1px;
  left: 46px;
  position: absolute;
  top: 23px;
  width: 1px;
}
.dashboard .vector-KsF9FK {
  background-color: transparent;
  height: 3px;
  left: 16px;
  position: absolute;
  top: 19px;
  width: 2px;
}
.dashboard .vector-LsVim7 {
  background-color: transparent;
  height: 4px;
  left: 16px;
  position: absolute;
  top: 16px;
  width: 2px;
}
.dashboard .vector-M4aDLA {
  background-color: transparent;
  height: 4px;
  left: 45px;
  position: absolute;
  top: 28px;
  width: 4px;
}
.dashboard .vector-NG2Y2n {
  background-color: transparent;
  height: 3px;
  left: 12px;
  position: absolute;
  top: 40px;
  width: 4px;
}
.dashboard .vector-NPH6oJ {
  background-color: transparent;
  height: 4px;
  left: 11px;
  position: absolute;
  top: 28px;
  width: 3px;
}
.dashboard .vector-NbjeQx {
  background-color: transparent;
  height: 3px;
  left: 13px;
  position: absolute;
  top: 24px;
  width: 3px;
}
.dashboard .vector-PDHPxh {
  background-color: transparent;
  height: 7px;
  left: 16px;
  position: absolute;
  top: 18px;
  width: 3px;
}
.dashboard .vector-PiQhOG {
  background-color: transparent;
  height: 3px;
  left: 31px;
  position: absolute;
  top: 32px;
  width: 3px;
}
.dashboard .vector-Qvp4Tj {
  background-color: transparent;
  height: 3px;
  left: 13px;
  position: absolute;
  top: 14px;
  width: 3px;
}
.dashboard .vector-QxM5SU {
  background-color: transparent;
  height: 2px;
  left: 95px;
  position: absolute;
  top: 142px;
  width: 7px;
}
.dashboard .vector-RUHQO5 {
  background-color: transparent;
  height: 2px;
  left: 11px;
  position: absolute;
  top: 18px;
  width: 6px;
}
.dashboard .vector-SJpHUb {
  background-color: transparent;
  height: 5px;
  left: 16px;
  position: absolute;
  top: 7px;
  width: 4px;
}
.dashboard .vector-SpRwxR {
  background-color: transparent;
  height: 6px;
  left: 1px;
  position: absolute;
  top: -0px;
  width: 6px;
}
.dashboard .vector-T2z9OT {
  background-color: transparent;
  height: 20px;
  left: 9px;
  position: absolute;
  top: -0px;
  width: 8px;
}
.dashboard .vector-TZXXNz {
  background-color: transparent;
  height: 2px;
  left: 1px;
  position: absolute;
  top: 5px;
  width: 21px;
}
.dashboard .vector-TwgtJx {
  background-color: transparent;
  height: 3px;
  left: 54px;
  position: absolute;
  top: 34px;
  width: 2px;
}
.dashboard .vector-UED6q8 {
  background-color: transparent;
  height: 2px;
  left: 43px;
  position: absolute;
  top: 23px;
  width: 4px;
}
.dashboard .vector-V5L5uc {
  background-color: transparent;
  height: 2px;
  left: 19px;
  position: absolute;
  top: 18px;
  width: 6px;
}
.dashboard .vector-VMr6Om {
  background-color: transparent;
  height: 6px;
  left: 99px;
  position: absolute;
  top: 137px;
  width: 3px;
}
.dashboard .vector-VxKb2b {
  background-color: transparent;
  height: 1px;
  left: 11px;
  position: absolute;
  top: 44px;
  width: 4px;
}
.dashboard .vector-WANZjv {
  background-color: transparent;
  height: 2px;
  left: 11px;
  position: absolute;
  top: 16px;
  width: 14px;
}
.dashboard .vector-WXeH8f {
  background-color: transparent;
  height: 3px;
  left: 16px;
  position: absolute;
  top: 19px;
  width: 2px;
}
.dashboard .vector-WuPm0i {
  background-color: transparent;
  height: 3px;
  left: 30px;
  position: absolute;
  top: 24px;
  width: 3px;
}
.dashboard .vector-WzCX2w {
  background-color: transparent;
  height: 5px;
  left: 31px;
  position: absolute;
  top: 40px;
  width: 5px;
}
.dashboard .vector-XXHueM {
  background-color: transparent;
  height: 4px;
  left: 13px;
  position: absolute;
  top: 32px;
  width: 3px;
}
.dashboard .vector-Y4c0SM {
  background-color: transparent;
  height: 22px;
  left: 1px;
  position: absolute;
  top: 1px;
  width: 21px;
}
.dashboard .vector-YlnNlK {
  background-color: transparent;
  height: 22px;
  left: 25px;
  position: absolute;
  top: 15px;
  width: 16px;
}
.dashboard .vector-YuqMaO {
  background-color: transparent;
  height: 1px;
  left: 20px;
  position: absolute;
  top: 22px;
  width: 8px;
}
.dashboard .vector-ZYMZxV {
  background-color: transparent;
  height: 1px;
  left: 23px;
  position: absolute;
  top: 25px;
  width: 2px;
}
.dashboard .vector-b5If7U {
  background-color: transparent;
  height: 2px;
  left: 4px;
  position: absolute;
  top: 9px;
  width: 11px;
}
.dashboard .vector-br8Osr {
  background-color: transparent;
  height: 4px;
  left: 25px;
  position: absolute;
  top: 17px;
  width: 5px;
}
.dashboard .vector-bxA2lM {
  background-color: transparent;
  height: 2px;
  left: 41px;
  position: absolute;
  top: 42px;
  width: 1px;
}
.dashboard .vector-cbPhEi {
  background-color: transparent;
  height: 9px;
  left: 31px;
  position: absolute;
  top: 28px;
  width: 4px;
}
.dashboard .vector-cr9Yec {
  background-color: transparent;
  height: 3px;
  left: 4px;
  position: absolute;
  top: 11px;
  width: 11px;
}
.dashboard .vector-d3jTx5 {
  background-color: transparent;
  height: 1px;
  left: 46px;
  position: absolute;
  top: 44px;
  width: 2px;
}
.dashboard .vector-dlCEa5 {
  background-color: transparent;
  height: 31px;
  left: 14px;
  position: absolute;
  top: 14px;
  width: 42px;
}
.dashboard .vector-eLKs9k {
  background-color: transparent;
  height: 2px;
  left: 23px;
  position: absolute;
  top: 17px;
  width: 3px;
}
.dashboard .vector-ejnd4r {
  background-color: transparent;
  height: 24px;
  left: -0px;
  position: absolute;
  top: -0px;
  width: 33px;
}
.dashboard .vector-f9CK1H {
  background-color: transparent;
  height: 4px;
  left: 13px;
  position: absolute;
  top: 13px;
  width: 3px;
}
.dashboard .vector-fHZ0xu {
  background-color: transparent;
  height: 3px;
  left: 39px;
  position: absolute;
  top: 26px;
  width: 2px;
}
.dashboard .vector-gUEd1c {
  background-color: transparent;
  height: 3px;
  left: 51px;
  position: absolute;
  top: 31px;
  width: 2px;
}
.dashboard .vector-h9rsX8 {
  background-color: transparent;
  height: 28px;
  left: 27px;
  position: absolute;
  top: 14px;
  width: 21px;
}
.dashboard .vector-hFKh6m {
  background-color: transparent;
  height: 12px;
  left: 18px;
  position: absolute;
  top: 14px;
  width: 12px;
}
.dashboard .vector-hQiWGj {
  background-color: transparent;
  height: 8px;
  left: 13px;
  position: absolute;
  top: 17px;
  width: 3px;
}
.dashboard .vector-hb0xvI {
  background-color: transparent;
  height: 6px;
  left: 15px;
  position: absolute;
  top: 28px;
  width: 4px;
}
.dashboard .vector-i3p5xz {
  background-color: transparent;
  height: 2px;
  left: 15px;
  position: absolute;
  top: 42px;
  width: 1px;
}
.dashboard .vector-iAfY9J {
  background-color: transparent;
  height: 2px;
  left: 23px;
  position: absolute;
  top: 17px;
  width: 3px;
}
.dashboard .vector-jqjy7v {
  background-color: transparent;
  height: 4px;
  left: 16px;
  position: absolute;
  top: 16px;
  width: 2px;
}
.dashboard .vector-l5CF91 {
  background-color: transparent;
  height: 3px;
  left: 4px;
  position: absolute;
  top: 6px;
  width: 11px;
}
.dashboard .vector-lvk72k {
  background-color: transparent;
  height: 3px;
  left: 13px;
  position: absolute;
  top: 14px;
  width: 3px;
}
.dashboard .vector-mq5UBQ {
  background-color: transparent;
  height: 21px;
  left: 2px;
  position: absolute;
  top: 2px;
  width: 21px;
}
.dashboard .vector-mzXdH9 {
  background-color: transparent;
  height: 4px;
  left: 95px;
  position: absolute;
  top: 139px;
  width: 3px;
}
.dashboard .vector-ngPnbx {
  background-color: transparent;
  height: 3px;
  left: 44px;
  position: absolute;
  top: 24px;
  width: 3px;
}
.dashboard .vector-nnOgzw {
  background-color: transparent;
  height: 5px;
  left: 14px;
  position: absolute;
  top: 30px;
  width: 5px;
}
.dashboard .vector-pUbPzv {
  background-color: transparent;
  height: 3px;
  left: 16px;
  position: absolute;
  top: 17px;
  width: 2px;
}
.dashboard .vector-pmsoaK {
  background-color: transparent;
  height: 2px;
  left: 40px;
  position: absolute;
  top: 28px;
  width: 5px;
}
.dashboard .vector-qXDylP {
  background-color: transparent;
  height: 1px;
  left: 40px;
  position: absolute;
  top: 44px;
  width: 2px;
}
.dashboard .vector-qnvTCu {
  background-color: transparent;
  height: 3px;
  left: 4px;
  position: absolute;
  top: 14px;
  width: 6px;
}
.dashboard .vector-rxGlad {
  background-color: transparent;
  height: 16px;
  left: 10px;
  position: absolute;
  top: 24px;
  width: 7px;
}
.dashboard .vector-s9Rdmo {
  background-color: transparent;
  height: 3px;
  left: 21px;
  position: absolute;
  top: 27px;
  width: 3px;
}
.dashboard .vector-sRTHPi {
  background-color: transparent;
  height: 20px;
  left: 17px;
  position: absolute;
  top: 22px;
  width: 16px;
}
.dashboard .vector-t2qG8Z {
  background-color: transparent;
  height: 9px;
  left: 12px;
  position: absolute;
  top: 27px;
  width: 5px;
}
.dashboard .vector-uIvyiq {
  background-color: transparent;
  height: 5px;
  left: 9px;
  position: absolute;
  top: 23px;
  width: 6px;
}
.dashboard .vector-uJxOe2 {
  background-color: transparent;
  height: 2px;
  left: 12px;
  position: absolute;
  top: 18px;
  width: 2px;
}
.dashboard .vector-vFHB0p {
  background-color: transparent;
  height: 18px;
  left: 36px;
  position: absolute;
  top: 22px;
  width: 9px;
}
.dashboard .vector-w8KiV9 {
  background-color: transparent;
  height: 10px;
  left: 12px;
  position: absolute;
  top: 34px;
  width: 5px;
}
.dashboard .vector-w8P5Ff {
  background-color: transparent;
  height: 3px;
  left: 37px;
  position: absolute;
  top: 17px;
  width: 3px;
}
.dashboard .vector-wO9dKe {
  background-color: transparent;
  height: 20px;
  left: 1px;
  position: absolute;
  top: -0px;
  width: 16px;
}
.dashboard .vector-xDePVk {
  background-color: transparent;
  height: 4px;
  left: 14px;
  position: absolute;
  top: 37px;
  width: 1px;
}
.dashboard .vector-xLRisg {
  background-color: transparent;
  height: 2px;
  left: 12px;
  position: absolute;
  top: 42px;
  width: 1px;
}
.dashboard .vector-xPW5UG {
  background-color: transparent;
  height: 3px;
  left: 31px;
  position: absolute;
  top: 32px;
  width: 3px;
}
.dashboard .vector-xSSimX {
  background-color: transparent;
  height: 4px;
  left: 44px;
  position: absolute;
  top: 23px;
  width: 3px;
}
.dashboard .vector-xlUs2o {
  background-color: transparent;
  height: 1px;
  left: 22px;
  position: absolute;
  top: 25px;
  width: 6px;
}
.dashboard .vector-y5CxwP {
  background-color: transparent;
  height: 2px;
  left: 47px;
  position: absolute;
  top: 42px;
  width: 1px;
}
.dashboard .vector-z3vHhl {
  background-color: transparent;
  height: 6px;
  left: 24px;
  position: absolute;
  top: 20px;
  width: 8px;
}
.dashboard .vector-z6B079 {
  background-color: transparent;
  height: 3px;
  left: 37px;
  position: absolute;
  top: 17px;
  width: 3px;
}
.dashboard .vector-zJcnqQ {
  background-color: transparent;
  height: 2px;
  left: 44px;
  position: absolute;
  top: 31px;
  width: 3px;
}
.dashboard .vector-zo6uzX {
  background-color: transparent;
  height: 5px;
  left: 4px;
  position: absolute;
  top: 16px;
  width: 5px;
}
.dashboard .view-plans-C61RwL {
  background-color: transparent;
  color: var(--endeavour);
  font-family: 'Roboto', Helvetica;
  font-size: 11px;
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 22px;
  letter-spacing: 0.00px;
  line-height: 17.1px;
  opacity: 0.8;
  position: absolute;
  text-align: center;
  top: 723px;
  white-space: nowrap;
  width: 62px;
}
.dashboard .wha-ts-happening-C61RwL {
  background-color: transparent;
  color: rgba(23,29,51,1.0);
  font-family: "Sarabun", Helvetica;
  font-size: 12px;
  height: auto;
  left: 15px;
  letter-spacing: 0.50px;
  line-height: 42px;
  opacity: 0.7;
  position: absolute;
  text-align: left;
  top: 609px;
  white-space: nowrap;
  width: 115px;
}
.dashboard .white-base-C61RwL {
  background-color: transparent;
  height: 684px;
  left: 0px;
  position: absolute;
  top: 166px;
  width: 375px;
}
.dashboard .wifi-klngK9 {
  background-color: transparent;
  height: 12px;
  left: 316px;
  position: absolute;
  top: 17px;
  width: 16px;
}
.dashboard .xmlid-19-C61RwL {
  background-color: transparent;
  height: 2px;
  left: 306px;
  position: absolute;
  top: 663px;
  width: 3px;
}
.dashboard .xmlid-20-C61RwL {
  background-color: transparent;
  height: 5px;
  left: 296px;
  position: absolute;
  top: 662px;
  width: 10px;
}
.dashboard .xmlid-21-C61RwL {
  background-color: transparent;
  height: 6.94%;
  left: 73.22%;
  position: absolute;
  top: 77.85%;
  width: 13.33%;
}
.dashboard .xmlid-50-C61RwL {
  background-color: transparent;
  height: 62px;
  left: 265px;
  position: absolute;
  top: 658px;
  width: 68px;
}
.dashboard .your-active-plans-FY3HhL {
  background-color: transparent;
  height: auto;
  left: 71px;
  letter-spacing: 0.00px;
  line-height: normal;
  opacity: 0.9;
  position: absolute;
  text-align: center;
  top: 16px;
  width: auto;
}
.roboto-black-black-15px {
  color: var(--black);
  font-family: 'Roboto', Helvetica;
  font-size: 15px;
  font-style: normal;
  font-weight: 900;
}
.roboto-medium-black-12px {
  color: var(--black);
  font-family: 'Roboto', Helvetica;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
}
.roboto-medium-black-16px {
  color: var(--black);
  font-family: 'Roboto', Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
}
.roboto-medium-black-pearl-10px {
  color: var(--black-pearl);
  font-family: 'Roboto', Helvetica;
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
}
.roboto-medium-white-14px {
  color: var(--white);
  font-family: 'Roboto', Helvetica;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.roboto-normal-black-12px {
  color: var(--black);
  font-family: 'Roboto', Helvetica;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
}
.roboto-normal-endeavour-20px {
  color: var(--endeavour);
  font-family: 'Roboto', Helvetica;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
}
.roboto-normal-white-13px {
  color: var(--white-2);
  font-family: 'Roboto', Helvetica;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
}
.roboto-normal-white-14px {
  color: var(--white);
  font-family: 'Roboto', Helvetica;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}
.roboto-normal-white-20px {
  color: var(--white);
  font-family: 'Roboto', Helvetica;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
}
:root {
  --black: rgba(0,0,0,1.0);
  --black-pearl: rgba(5,28,40,0.89);
  --cadet-blue: rgba(170,178,191,1.0);
  --endeavour: rgba(0,82,155,1.0);
  --slate-gray: rgba(110,121,143,1.0);
  --white: rgba(255,255,255,1.0);
  --white-2: rgba(255,255,255,0.52);
}
