/* screen - landscreen */

.border-1px-black {
  border: 1px solid var(--black);
}
.landscreen {
  background-color: var(--white);
  height: 812px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 375px;
}
.landscreen .activate-C61RwL {
  background-color: transparent;
  height: 33px;
  left: 238px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: center;
  top: 683px;
  width: 69px;
}
.landscreen .already-have-an-account-C61RwL {
  background-color: transparent;
  height: 20px;
  left: 41px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: center;
  top: 689px;
  white-space: nowrap;
  width: 213px;
}
.landscreen .bars-status-bar-hone-time-light-klngK9 {
  background-color: transparent;
  height: 21px;
  left: 21px;
  position: absolute;
  top: 7px;
  width: 56px;
}
.landscreen .bars-status-bar-i-phone-light-C61RwL {
  background-color: transparent;
  height: 44px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 375px;
}
.landscreen .border-klngK9 {
  background-color: transparent;
  border-radius: 2.6666667461395264px;
  height: 11px;
  left: 336px;
  opacity: 0.35;
  position: absolute;
  top: 17px;
  width: 22px;
}
.landscreen .cap-klngK9 {
  background-color: transparent;
  height: 4px;
  left: 359px;
  position: absolute;
  top: 21px;
  width: 2px;
}
.landscreen .capacity-klngK9 {
  background-color: var(--black);
  border-radius: 1.3333333730697632px;
  height: 7px;
  left: 338px;
  position: absolute;
  top: 19px;
  width: 18px;
}
.landscreen .cellular-connection-klngK9 {
  background-color: transparent;
  height: 12px;
  left: 294px;
  position: absolute;
  top: 17px;
  width: 17px;
}
.landscreen .cropped-turnkey-logo-1-3-C61RwL {
  background-color: transparent;
  height: 82px;
  left: 127px;
  object-fit: cover;
  position: absolute;
  top: 90px;
  width: 118px;
}
.landscreen .join-now-to-man-business-better-C61RwL {
  background-color: transparent;
  color: var(--black);
  font-family: 'Roboto', Helvetica;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  height: 28px;
  left: 73px;
  letter-spacing: 0.24px;
  line-height: normal;
  opacity: 0.8;
  position: absolute;
  text-align: center;
  top: 763px;
  width: 250px;
}
.landscreen .login-C61RwL {
  background-color: transparent;
  height: auto;
  left: 165px;
  letter-spacing: 0.00px;
  line-height: 13.0px;
  position: absolute;
  text-align: left;
  top: 500px;
  white-space: nowrap;
  width: 70px;
}
.landscreen .rectangle-3644-C61RwL {
  background-color: transparent;
  height: 433px;
  left: 0px;
  position: absolute;
  top: 379px;
  width: 375px;
}
.landscreen .rectangle-3645-C61RwL {
  background-color: transparent;
  height: 57px;
  left: 0px;
  position: absolute;
  top: 362px;
  width: 375px;
}
.landscreen .rectangle-3646-C61RwL {
  background-color: transparent;
  height: 71px;
  left: 0px;
  position: absolute;
  top: 742px;
  width: 375px;
}
.landscreen .rectangle-3925-C61RwL {
  background-color: transparent;
  height: 25px;
  left: 238px;
  position: absolute;
  top: 688px;
  width: 67px;
}
.landscreen .rectangle-C61RwL {
  background-color: transparent;
  border: 1px solid var(--white);
  border-radius: 8px;
  height: 51px;
  left: 21px;
  position: absolute;
  top: 481px;
  width: 332px;
}
.landscreen .rectangle-VMr6Om {
  background-color: var(--white);
  border-radius: 8px;
  height: 51px;
  left: 21px;
  position: absolute;
  top: 565px;
  width: 332px;
}
.landscreen .sign-up-C61RwL {
  background-color: transparent;
  color: var(--endeavour);
  font-family: 'Roboto', Helvetica;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  height: auto;
  left: 165px;
  letter-spacing: 0.00px;
  line-height: 13.0px;
  position: absolute;
  text-align: left;
  top: 584px;
  white-space: nowrap;
  width: 70px;
}
.landscreen .time-s3dIGL {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: -0.30px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 7px;
  width: 56px;
}
.landscreen .welcome-to-mlife-C61RwL {
  background-color: transparent;
  color: rgba(50,63,75,1.0);
  font-family: 'Mulish', Helvetica;
  font-size: 18.1px;
  font-style: normal;
  font-weight: 600;
  height: auto;
  left: 112px;
  letter-spacing: 0.00px;
  line-height: 27.2px;
  position: absolute;
  text-align: left;
  top: 247px;
  white-space: nowrap;
  width: 161px;
}
.landscreen .wifi-klngK9 {
  background-color: transparent;
  height: 12px;
  left: 316px;
  position: absolute;
  top: 17px;
  width: 16px;
}
.roboto-black-black-15px {
  color: var(--black);
  font-family: 'Roboto', Helvetica;
  font-size: 15px;
  font-style: normal;
  font-weight: 900;
}
.roboto-medium-black-12px {
  color: var(--black);
  font-family: 'Roboto', Helvetica;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
}
.roboto-medium-black-16px {
  color: var(--black);
  font-family: 'Roboto', Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
}
.roboto-medium-black-pearl-10px {
  color: var(--black-pearl);
  font-family: 'Roboto', Helvetica;
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
}
.roboto-medium-white-14px {
  color: var(--white);
  font-family: 'Roboto', Helvetica;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.roboto-normal-black-12px {
  color: var(--black);
  font-family: 'Roboto', Helvetica;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
}
.roboto-normal-endeavour-20px {
  color: var(--endeavour);
  font-family: 'Roboto', Helvetica;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
}
.roboto-normal-white-13px {
  color: var(--white-2);
  font-family: 'Roboto', Helvetica;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
}
.roboto-normal-white-14px {
  color: var(--white);
  font-family: 'Roboto', Helvetica;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}
.roboto-normal-white-20px {
  color: var(--white);
  font-family: 'Roboto', Helvetica;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
}
:root {
  --black: rgba(0,0,0,1.0);
  --black-pearl: rgba(5,28,40,0.89);
  --cadet-blue: rgba(170,178,191,1.0);
  --endeavour: rgba(0,82,155,1.0);
  --slate-gray: rgba(110,121,143,1.0);
  --white: rgba(255,255,255,1.0);
  --white-2: rgba(255,255,255,0.52);
}
