/* screen - verification */

.border-1px-black {
  border: 1px solid var(--black);
}
.roboto-black-black-15px {
  color: var(--black);
  font-family: 'Roboto', Helvetica;
  font-size: 15px;
  font-style: normal;
  font-weight: 900;
}
.roboto-medium-black-12px {
  color: var(--black);
  font-family: 'Roboto', Helvetica;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
}
.roboto-medium-black-16px {
  color: var(--black);
  font-family: 'Roboto', Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
}
.roboto-medium-black-pearl-10px {
  color: var(--black-pearl);
  font-family: 'Roboto', Helvetica;
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
}
.roboto-medium-white-14px {
  color: var(--white);
  font-family: 'Roboto', Helvetica;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.roboto-normal-black-12px {
  color: var(--black);
  font-family: 'Roboto', Helvetica;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
}
.roboto-normal-endeavour-20px {
  color: var(--endeavour);
  font-family: 'Roboto', Helvetica;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
}
.roboto-normal-white-13px {
  color: var(--white-2);
  font-family: 'Roboto', Helvetica;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
}
.roboto-normal-white-14px {
  color: var(--white);
  font-family: 'Roboto', Helvetica;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}
.roboto-normal-white-20px {
  color: var(--white);
  font-family: 'Roboto', Helvetica;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
}
.verification {
  background-color: var(--white);
  height: 812px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 375px;
}
.verification .bars-status-bar-hone-time-light-klngK9 {
  background-color: transparent;
  height: 21px;
  left: 21px;
  position: absolute;
  top: 7px;
  width: 56px;
}
.verification .bars-status-bar-i-phone-light-C61RwL {
  background-color: transparent;
  height: 44px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 375px;
}
.verification .border-klngK9 {
  background-color: transparent;
  border-radius: 2.6666667461395264px;
  height: 11px;
  left: 336px;
  opacity: 0.35;
  position: absolute;
  top: 17px;
  width: 22px;
}
.verification .cap-klngK9 {
  background-color: transparent;
  height: 4px;
  left: 359px;
  position: absolute;
  top: 21px;
  width: 2px;
}
.verification .capacity-klngK9 {
  background-color: var(--black);
  border-radius: 1.3333333730697632px;
  height: 7px;
  left: 338px;
  position: absolute;
  top: 19px;
  width: 18px;
}
.verification .card-number-C61RwL {
  background-color: transparent;
  height: auto;
  left: 8px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 185px;
  width: auto;
}
.verification .card-number-VMr6Om {
  background-color: transparent;
  height: auto;
  left: 34px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 204px;
  width: auto;
}
.verification .cellular-connection-klngK9 {
  background-color: transparent;
  height: 12px;
  left: 294px;
  position: absolute;
  top: 17px;
  width: 17px;
}
.verification .component-30-C61RwL {
  background-color: transparent;
  height: 24px;
  left: 30px;
  position: absolute;
  top: 52px;
  width: 24px;
}
.verification .component-31-C61RwL {
  background-color: transparent;
  height: 24px;
  left: 72px;
  position: absolute;
  top: 36px;
  width: 24px;
}
.verification .component-32-C61RwL {
  background-color: transparent;
  height: 24px;
  left: 72px;
  position: absolute;
  top: 36px;
  width: 24px;
}
.verification .iconsettingsnotifications-C61RwL {
  background-color: transparent;
  background-image: url(../img/ellipse@2x.svg);
  background-size: 100% 100%;
  height: 40px;
  left: 44px;
  overflow: hidden;
  position: absolute;
  top: 259px;
  width: 40px;
}
.verification .iconsettingsnotifications-VMr6Om {
  background-color: transparent;
  background-image: url(../img/ellipse-1@2x.svg);
  background-size: 100% 100%;
  height: 40px;
  left: 50px;
  overflow: hidden;
  position: absolute;
  top: 352px;
  width: 40px;
}
.verification .input-2P4qUJ {
  background-color: transparent;
  color: rgba(0,0,0,0.87);
  font-family: 'Roboto', Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 119px;
  letter-spacing: 0.00px;
  line-height: 18px;
  position: absolute;
  text-align: left;
  top: 380px;
  white-space: nowrap;
  width: 154px;
}
.verification .input-C61RwL {
  background-color: transparent;
  color: rgba(39,49,66,1.0);
  font-family: 'Roboto', Helvetica;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 48px;
  letter-spacing: 0.14px;
  line-height: 18px;
  position: absolute;
  text-align: center;
  top: 163px;
  width: 271px;
}
.verification .input-QxM5SU {
  background-color: transparent;
  color: rgba(0,0,0,0.87);
  font-family: 'Roboto', Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 119px;
  letter-spacing: 0.00px;
  line-height: 18px;
  position: absolute;
  text-align: left;
  top: 281px;
  white-space: nowrap;
  width: 110px;
}
.verification .input-VMr6Om {
  background-color: transparent;
  color: rgba(0,0,0,0.5);
  font-family: 'Roboto', Helvetica;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 120px;
  letter-spacing: 0.00px;
  line-height: 18px;
  position: absolute;
  text-align: left;
  top: 254px;
  white-space: nowrap;
  width: 67px;
}
.verification .input-mzXdH9 {
  background-color: transparent;
  color: rgba(0,0,0,0.5);
  font-family: 'Roboto', Helvetica;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 120px;
  letter-spacing: 0.00px;
  line-height: 18px;
  position: absolute;
  text-align: left;
  top: 353px;
  white-space: nowrap;
  width: 67px;
}
.verification .phillip-smith-C61RwL {
  background-color: transparent;
  height: auto;
  left: 36px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 225px;
  width: auto;
}
.verification .rectangle-12563-C61RwL {
  background-color: var(--endeavour);
  border-radius: 3px;
  height: 39px;
  left: 34px;
  position: absolute;
  top: 749px;
  width: 312px;
}
.verification .rectangle-3613-C61RwL {
  background-color: rgba(205,210,218,0.3);
  border-radius: 6px;
  height: 82px;
  left: 25px;
  position: absolute;
  top: 235px;
  width: 335px;
}
.verification .rectangle-3614-C61RwL {
  background-color: rgba(205,210,218,0.3);
  border-radius: 6px;
  height: 82px;
  left: 27px;
  position: absolute;
  top: 331px;
  width: 333px;
}
.verification .submit-C61RwL {
  background-color: transparent;
  height: auto;
  left: 163px;
  letter-spacing: 0.00px;
  line-height: 13.0px;
  position: absolute;
  text-align: left;
  top: 760px;
  white-space: nowrap;
  width: auto;
}
.verification .time-s3dIGL {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: -0.30px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 7px;
  width: 56px;
}
.verification .vector-1-02ks1v {
  background-color: transparent;
  height: 12px;
  left: 4px;
  position: absolute;
  top: 6px;
  width: 16px;
}
.verification .vector-3lSGep {
  background-color: transparent;
  height: 16px;
  left: 16px;
  position: absolute;
  top: 12px;
  width: 10px;
}
.verification .vector-S15Sql {
  background-color: transparent;
  height: 16px;
  left: 16px;
  position: absolute;
  top: 12px;
  width: 10px;
}
.verification .vector-f2w0LH {
  background-color: transparent;
  height: 9px;
  left: 19px;
  position: absolute;
  top: 12px;
  width: 9px;
}
.verification .vector-gjRpR4 {
  background-color: transparent;
  height: 6px;
  left: 23px;
  position: absolute;
  top: 13px;
  width: 7px;
}
.verification .verification-C61RwL {
  background-color: transparent;
  height: auto;
  left: 35px;
  letter-spacing: 0.32px;
  line-height: 18px;
  position: absolute;
  text-align: left;
  top: 87px;
  white-space: nowrap;
  width: auto;
}
.verification .wifi-klngK9 {
  background-color: transparent;
  height: 12px;
  left: 316px;
  position: absolute;
  top: 17px;
  width: 16px;
}
.verification .x022025-C61RwL {
  background-color: transparent;
  color: var(--white);
  font-family: 'Roboto', Helvetica;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 236px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 229px;
  width: auto;
}
:root {
  --black: rgba(0,0,0,1.0);
  --black-pearl: rgba(5,28,40,0.89);
  --cadet-blue: rgba(170,178,191,1.0);
  --endeavour: rgba(0,82,155,1.0);
  --slate-gray: rgba(110,121,143,1.0);
  --white: rgba(255,255,255,1.0);
  --white-2: rgba(255,255,255,0.52);
}
